{% extends 'main/base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<div class="home-container">
     <h1>Отель Комфорт - Ваш уютный уголок</h1>
    <div class="about-text">
      <p>
        «Отель Комфорт» – это место, где уют и сервис высокого уровня сочетаются с индивидуальным подходом к каждому гостю. Наш отель располагается в самом центре города, в шаговой доступности от главных достопримечательностей и деловых центров, что делает его идеальным выбором для туристов и деловых людей.
      </p>
      <p>
        В нашем отеле вам предложат широкий выбор комфортных номеров, оформленных с учетом последних тенденций в дизайне и уютного проживания. Все номера оснащены современными удобствами для вашего комфортного отдыха.
      </p>
      <p>
        Мы гордимся высококвалифицированным персоналом, который всегда готов предоставить вам лучшие условия для отдыха и работы. Мы предлагаем не только отличные номера, но и широкий спектр услуг, включая ресторан с авторской кухней, СПА-процедуры, а также различные экскурсии и мероприятия для наших гостей.
      </p>
      <p>
        В «Отеле Комфорт» мы создаем атмосферу, в которой каждый может почувствовать себя как дома. Уютные номера, первоклассный сервис, доступные цены и забота о вашем комфорте — все это делает наш отель идеальным местом для вашего отдыха и работы.
      </p>
    </div>
</div>
{% endblock %}



