{% extends 'main/base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/info.css' %}">
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock %}

{% block content %}
<div class="home-container">
    <div class="room-types-container">
    <div class="room-type">
        <h2>Стандартный номер</h2>
        <p>
            Уютный и функциональный выбор для гостей, которые ценят комфорт по доступной цене.
            В номере есть все необходимое для приятного пребывания: удобная кровать, рабочая зона,
            гардероб и отдельная ванная комната с базовыми средствами гигиены.
            Идеально подходит для коротких поездок или деловых путешествий.
        </p>
    </div>
    <div class="room-type">
        <h2>Комфортный номер</h2>
        <p>
            Расширенное пространство и дополнительные удобства, чтобы ваше пребывание стало
            максимально расслабляющим. В номере большая кровать, мягкая зона отдыха, рабочий стол
            и улучшенные условия ванной комнаты. Отличный выбор для тех, кто хочет насладиться
            отдыхом в приятной обстановке.
        </p>
    </div>
    <div class="room-type">
        <h2>Люкс</h2>
        <p>
            Воплощение роскоши и элегантности. Просторный номер с отдельной гостиной зоной,
            спальной комнатой и дополнительными привилегиями, такими как мини-бар и улучшенные
            средства личной гигиены. Люксы идеально подходят для тех, кто хочет сделать свое
            пребывание по-настоящему незабываемым.
        </p>
    </div>
        <a class="home_button" href="{% url 'room_list' %}">Посмотреть доступные номера</a>
</div>

</div>
{% endblock %}
