{% extends 'main/base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
  <div class="spa-section">

    <div class="container mt-5">
      <!-- Заголовок страницы -->
      <h1 class="text-center mb-4">SPA-комплекс</h1>

      <!-- Описание SPA-центра -->
      <div class="row">
        <div class="col-md-6">
          <img src="{% static 'images/spa_center.jpg' %}" alt="SPA-комплекс" class="img-fluid rounded">
        </div>
        <div class="col-md-6">
          <p>
            <strong>РОСКОШЬ КАЧЕСТВЕННОГО ОТДЫХА В SPA & WELLNESS CENTRE BEAUTY RESIDENCE</strong>
          </p>
          <p>
            Многопрофильный СПА-центр нашего отеля приглашает гостей провести незабываемо приятное время, принося пользу своему здоровью и красоте. Мы рады предложить широкий перечень физиотерапевтических процедур и косметических уходов для лица и тела. Используя инновационное оборудование и качественные материалы, СПА-центр давно завоевал доверие со стороны клиентов.
          </p>
          <p>
            Разнообразие комплексных программ и СПА-пакетов позволит дополнить оздоровительные процедуры посещением бассейна и саун, или сочетать различные услуги для лучшего эффекта.
          </p>
        </div>
      </div>

      <!-- Контактная информация -->
      <div class="contact-info mt-5">
        <h3>Контактная информация</h3>
        <p>По всем вопросам о предоставляемых услугах можно связаться с администраторами СПА-центра:</p>
        <ul>
          <li><strong>Номера:</strong> +375 (17) 000-00-00</li>
          <li><strong>Электронная почта:</strong> spa@hotelcomfort.com</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
